/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }
* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}

/* ---- button ---- */

.button {
    display: inline-block;
    padding: 0.5em 1.0em;
    background: #000;
    border: none;
   
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    
    cursor: pointer;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.button:hover {
  background-color: green;
 
  color: #fff;
}

.button:active,
.button.is-checked {
  background-color: green;
}

.button.is-checked {
  color: white;
 
}

.button:active {
  
}

/* ---- button-group ---- */

.button-group {
  margin-bottom: 20px;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}



/* ---- isotope ---- */



/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  /*width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;*/
 /* background: #888;*/
  color: #262524;
  width: 33%;
  border:10px solid #fff;
}
.element-item img{
    width: 100%;
}



